<?php
	require_once dirname(__FILE__).'/../message/message_define.php';
	//require_once dirname(__FILE__).'/../db/sqlmould.php';

	$mail_config = array(
		1 => array(
			"title"		=> "normal",
			"content"	=> "normal got from sysytem!",
			"attach"	=> "100",
			"deadline"	=> iMsgTimeOut_1day,
		),

		2 => array(
			"title"		=> "friendGift",
			"content"	=> "congratulation got gift from ",
			"attach"	=> "100",
			"deadline"	=> iMsgTimeOut_1day,
		),
	);
?>